@{
    ViewBag.Title = "Index";
}

<h2>Implement - Task 2</h2>

@* Lavel *@
<div>
    <label id="ShowText"></label>
</div>

@* All Buttons *@
<input type="button" value="Print Text" onclick="PrintText()" />
<input type="button" value="Bold Style" onclick="BoldText()" />
<input type="button" value="Italic Style" onclick="ItalicText()" />
<input type="button" value="Underline Style" onclick="UnderlineText()" />
<input type="button" value="Reset Style" onclick="PrintText()" />

@* Js files *@
<script src="~/js/test.js"></script>
